.Login form div{
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  
}



.Login label{
  /* md:text-[#676666] text-white font-semibold text-xl */
  color: #676666;
  font-weight: 700;
  font-size: 20px;
}

.Login input{
  /* md:w-[25vw] w-full rounded-2xl px-6 py-2 mt-1 border-2 border-[#676666cd] */
  width: 25vw;
  padding: 10px 20px;
  margin-top: 4px;
  border: 2px solid #676666cd;
  border-radius: 20px;
}