

body{
  background-color: #faf7f0;
  font-family: Josefin Slab;
  

}
.Home {
  background-image: url('/Landing_page.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0; /* Start with hidden state */
  animation: fadeIn 1s ease-in-out forwards; /* Updated animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Fully transparent */
  }


  100% {
    opacity: 1; /* Fully visible */
  }
}



.mid-home, .page, .marathi{
  font-family: "Inknut Antiqua", serif;
}

.Login .left{
  background-image: url('/images/login.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  opacity: 1;
  width: 50%;
  height: 100vh;
}

#our_products:hover  #productcatagry{
  display: block;
}




input[type="radio"] {
  accent-color: #B17457;
}

#homeproduct img:hover  #homeproduct p{
  transform: scale(1.5);
} 

.product-details{
  font-family: "Inknut Antiqua", serif;

}


@media (max-width:769px){
 .Login .left{
    background-image: url('../public/images/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100vh;
  }

  .Login{
    color:white;
    overflow-x: hidden;
  }

  .Login input{
    color: black;
  }
}

.loder div{
  animation: a 1.5s infinite backwards   ;
}

@keyframes a {
  0% {
      transform: rotate(0deg) translateY(-200%);
  }
  60%, 100% {
      transform: rotate(360deg) translateY(-200%) scale(1.5);
      gap: 30px;
     
  }
}

.loder div:nth-child(1) {
  animation-delay: 0.15s;
}

.loder div:nth-child(2) {
  animation-delay: 0.3s;
}

.loder div:nth-child(3) {
  animation-delay: 0.45s;
}

.loder div:nth-child(4) {
  animation-delay: 0.6s;
}

.loder div:nth-child(5) {
  animation-delay: 0.75s;
}
.loder div:nth-child(6) {
  animation-delay: 0.90s;
}



body{
  background: linear-gradient(to right, #b6e7f8, #d7d7f2);
}
.pp div span{
  font-weight: bold;
}



.header{
  background-color: rgba(255, 255, 255, 0.436);
  text-align: center;
  padding: 50px ;
  border-radius: 25px;
}

.container{
  background-color: rgba(255, 255, 255, 0.436);
  margin: 20px;
  border-radius: 25px;
  padding: 20px 30px;
}

.date{
  font-weight: bold;
}

.container > div{
  display: flex;
    flex-direction: column;
    gap: 25px;
}