.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  
  font-family: Josefin Slab;
  

}
.Home {
  background-image: url('/Landing_page.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0; /* Start with hidden state */
  animation: fadeIn 4s ease-in-out forwards; /* Updated animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Fully transparent */
  }

  90%{
    opacity: 0;
  }
  100% {
    opacity: 1; /* Fully visible */
  }
}



.mid-home, .page, .marathi{
  font-family: "Inknut Antiqua", serif;
}

.Login .left{
  background-image: url('/images/login.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  opacity: 1;
  width: 50%;
  height: 100vh;
}

#our_products:hover  #productcatagry{
  display: block;
}

.Home-Logo{
  animation: Logo 2s linear 2  ;
}

@keyframes Logo {

  0% {
    opacity: 0; /* Fully visible */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(1);
    
  }
  25% {
    opacity: 1; /* Fully hidden */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(2);
    
  }

  50%{
    opacity: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(1);
    
  }

  75%{
    opacity: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(2);
    
  }

  100%{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(1);
    
   
  }

  

}


input[type="radio"] {
  accent-color: #B17457;
}

#homeproduct img:hover  #homeproduct p{
  transform: scale(1.5);
} 

.product-details{
  font-family: "Inknut Antiqua", serif;

}


@media (max-width:769px){
 .Login .left{
    background-image: url('../public/images/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100vh;
  }

  .Login{
    color:white;
    overflow-x: hidden;
  }

  .Login input{
    color: black;
  }
}

.loder div{
  animation: a 1.5s infinite backwards   ;
}

@keyframes a {
  0% {
      transform: rotate(0deg) translateY(-200%);
  }
  60%, 100% {
      transform: rotate(360deg) translateY(-200%) scale(1.5);
      gap: 30px;
     
  }
}

.loder div:nth-child(1) {
  animation-delay: 0.15s;
}

.loder div:nth-child(2) {
  animation-delay: 0.3s;
}

.loder div:nth-child(3) {
  animation-delay: 0.45s;
}

.loder div:nth-child(4) {
  animation-delay: 0.6s;
}

.loder div:nth-child(5) {
  animation-delay: 0.75s;
}
.loder div:nth-child(6) {
  animation-delay: 0.90s;
}
